* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #375761;
    color: #ffffff;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 90%;
    max-width: 80rem;
    border-radius: 4rem;
    background-color: #6b4b4b
}

.slider__input {
    display: none;
}

.slider__img-wrap {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    font-size: 0;
}

.slider__img {
    width: 100%;
    height: 70vh;
    border-radius: 4rem;
    transition: 1s;
}

.slider__line {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 2rem;
}

.slider__text-wrap {
    height: 10vh;
    overflow: hidden;
}

.slider__text {
    display: flex;
    align-items: center;
    height: 10vh;
    font-size: 2rem;
    opacity: 0;
    visibility: hidden;
    transition: .7s;
}

.slider__buttons {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.slider__button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
}

.slider__button-wrap:hover .slider__button{
    background: rgba(255, 255, 255, 0.5);
}

.slider__button {
    width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    border-radius: 5rem;
    transition: .1s;
}

/* 1 */
#input-1:checked ~ .slider__img-wrap .slider__img {
    transform: translateY(0vh);
}

#input-1:checked ~ .slider__line .slider__text-wrap #text-1{
    opacity: 1;
    visibility: visible;
}

#input-1:active ~ .slider__line .slider__buttons #label-1 .slider__button  {
    background: #375761;
}

#input-1:checked ~ .slider__line .slider__buttons #label-1 .slider__button  {
    background: rgba(0, 0, 0, 0.5);
}

/* 2 */
#input-2:checked ~ .slider__img-wrap .slider__img {
    transform: translateY(-70vh);
}

#input-2:checked ~ .slider__line .slider__text-wrap #text-2{
    transform: translateY(-10vh);
    opacity: 1;
    visibility: visible;
}

#input-2:active ~ .slider__line .slider__buttons #label-2 .slider__button  {
    background: #375761;
}

#input-2:checked ~ .slider__line .slider__buttons #label-2 .slider__button  {
    background: rgba(0, 0, 0, 0.5);
}

/* 3 */
#input-3:checked ~ .slider__img-wrap .slider__img {
    transform: translateY(calc(-70vh * 2));
}

#input-3:checked ~ .slider__line .slider__text-wrap #text-3{
    transform: translateY(calc(-10vh * 2));
    opacity: 1;
    visibility: visible;
}

#input-3:active ~ .slider__line .slider__buttons #label-3 .slider__button  {
    background: #375761;
}

#input-3:checked ~ .slider__line .slider__buttons #label-3 .slider__button  {
    background: rgba(0, 0, 0, 0.5);
}

/* 4 */
#input-4:checked ~ .slider__img-wrap .slider__img {
    transform: translateY(calc(-70vh * 3));
}

#input-4:checked ~ .slider__line .slider__text-wrap #text-4{
    transform: translateY(calc(-10vh * 3));
    opacity: 1;
    visibility: visible;
}

#input-4:active ~ .slider__line .slider__buttons #label-4 .slider__button  {
    background: #375761;
}

#input-4:checked ~ .slider__line .slider__buttons #label-4 .slider__button  {
    background: rgba(0, 0, 0, 0.5);
}

/* 5 */
#input-5:checked ~ .slider__img-wrap .slider__img {
    transform: translateY(calc(-70vh * 4));
}

#input-5:checked ~ .slider__line .slider__text-wrap #text-5{
    transform: translateY(calc(-10vh * 4));
    opacity: 1;
    visibility: visible;
}

#input-5:active ~ .slider__line .slider__buttons #label-5 .slider__button  {
    background: #375761;
}

#input-5:checked ~ .slider__line .slider__buttons #label-5 .slider__button  {
    background: rgba(0, 0, 0, 0.5);
}

/* 6 */
#input-6:checked ~ .slider__img-wrap .slider__img {
    transform: translateY(calc(-70vh * 5));
}

#input-6:checked ~ .slider__line .slider__text-wrap #text-6{
    transform: translateY(calc(-10vh * 5));
    opacity: 1;
    visibility: visible;
}

#input-6:active ~ .slider__line .slider__buttons #label-6 .slider__button  {
    background: #375761;
}

#input-6:checked ~ .slider__line .slider__buttons #label-6 .slider__button  {
    background: rgba(0, 0, 0, 0.5);
}
